meta(charset='utf-8')
title= title
link(rel='stylesheet', type='text/css', href='lib/reset.min.css')
link(rel='stylesheet', type='text/css', href='css/sprite.min.css')
if css
  each href in css
    link(rel='stylesheet', type='text/css', href='#{href}')
link(rel='stylesheet', type='text/css', href='css/app.min.css')
