script(type='text/javascript', src='node_modules/jquery/dist/jquery.min.js')
if scripts
  each src in scripts
    script(type='text/javascript', src='#{src}')
script(type='text/javascript', src='js/app.min.js')
