block variables

doctype html
html
  head
    include ../../blocks/head/head.jade
  body
    include ../../blocks/header/header.jade
    block content
    include ../../blocks/footer/footer.jade
    include ../../blocks/svg/svg.jade
    include ../../blocks/scripts/scripts.jade
